@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Almarai", sans-serif;
}

.App {
  font-family: "Almarai", sans-serif;
  text-align: center;
}
/* .preview {
  overflow: hidden;
}
.controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: absolute;
  bottom: 50px;
  width: 97vw;
} */
